# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

static_analysis/rabbit_mq
# Logs
logs/
*.log
log/

# Dependency directories
jspm_packages/
bower_components/

# Coverage directories
coverage/
.nyc_output/

# Next.js build output
.next/
out/

# Temporary directories and files
tmp/
temp/
*.tmp
*.temp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.eggs/

# Virtual Environments
venv/
ENV/
env/
.venv/

# Python bytecode
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pylint
.pylint.d/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.pydevproject
*.tmproj
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~